body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
.icon{
  width:200px;
}

.logo{
  width:100px;
}

.nav-links{
    padding-top:37px;
}

.well{
  background-color:white;
  padding:40px;
}

.thumbnail{
  width:100px;
  float:left;
  margin:10px;
}

.row{
  margin-top:20px;
}

.ng-valid.ng-dirty{
  border: 2px solid green;
}

.ng-invalid.ng-dirty{
  border: 2px solid red;
}

#borderlessForm{
  border:none;
}
