<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="styles.css" />

  </head>
  <body ng-controller="StoreController as store">
    <div class="container">
      <div class="row navbar">
        <div class="col-sm-4">
          <img class="logo" src="https://d30y9cdsu7xlg0.cloudfront.net/png/3128-200.png"> GEMSTORE
        </div>
        <div class="col-sm-2 nav-links">
          Products
        </div>
        <div class="col-sm-2 nav-links">
          About
        </div>
        <div class="col-sm-2">
        </div>
      </div>
      <div ng-repeat="product in store.products | orderBy:'price'">
        <div ng-show="product.canPurchase" class="well">
          <div class="row">
            <div class="col-sm-6">
              <img class="icon" ng-src={{product.images[0]}} />
            </div>
            <div class="col-sm-6">
              <h1>{{product.name}} </h1>
              <button ng-show="product.canPurchase" class="btn btn-warning">Buy for {{product.price | currency}}</button>
            </div>
          </div>
          <div class="row">
            <section ng-controller="PanelController as panel">
              <ul class="nav nav-pills">
                <li ng-class="{ active:panel.isSelected(1)}">
                  <a href ng-click="panel.selectTab(1)">Description</a>
                </li>
                <li ng-class="{ active:panel.isSelected(2)}">
                  <a href ng-click="panel.selectTab(2)">Photo Gallery</a>
                </li>
                <li ng-class="{ active:panel.isSelected(3)}">
                  <a href ng-click="panel.selectTab(3)">Reviews</a>
                </li>
              </ul>
              <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Description</h4>
                <h5>{{product.description}}</h5>
              </div>
              <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Photo Gallery</h4>
                <div ng-repeat="image in product.images">
                  <img class="thumbnail" ng-src={{image}} />
                </div>
              </div>
              <div class="panel" ng-show="panel.isSelected(3)">
                <button ng-show='!panel.hiddenForm' ng-click="panel.showForm()" class="btn btn-default">Add A Review</button><br /><br />
                <div ng-show='panel.hiddenForm'>FORM</div>
                <div class="well" ng-repeat="review in product.reviews">
                  <h4>{{review.stars}} Stars</h4>
                  <p>{{review.content}}</p>
                  <em>by: {{review.author}}</em>
                </div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
      <script type="text/javascript" src="angular.min.js"></script>
      <script type="text/javascript" src="app.js"></script>
  </body>
</html>
