body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
.icon{
  width:200px;
}

.logo{
  width:100px;
}

.nav-links{
    padding-top:37px;
}

.navbar{
  background-color:lightgrey;
}

.well{
  text-align:center;
  background-color:white;
}
